<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>cart</title>
    <style>
        .btn {
        padding: 0.5em 1.5em; /* Поля по вертикали и горизонтали */
        background-color: transparent; /* Прозрачный цвет фона */
        font-size: 0.9em; /* Размер текста */
        text-transform: uppercase; /* Все буквы заглавные */
        color: #2196f3; /* Цвет текста */
        border: 2px solid #2196f3; /* Параметры рамки */
        border-radius: 0.4em; /* Радиус скругления */
   }
    </style>
</head>
<body>
    <h1 align="center">Козина</h1>
    <h2>Извените, ваша корзина пуста</h2>
    <form action="/platform">
        <p style="text-align: left"><button class="btn">Вернуться обратно</button></p>
    </form>
</body>
</html>